body{
    margin: 0px;
}
nav{
    background-color: darkorchid;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
nav a{
    color: white;
    text-decoration: none;
}
nav a:first-child{
    color: black;
    font-size: 40pt;
    font-family: 'Montserrat', sans-serif;
    font-style: bold;
}
